<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Email Lookup</title>
</head>

<body>
    <h1>Display Stocks by Email:</h1>
    <form action="http://localhost:<%- port %>/processEmailLookup" method="post">
        <strong>Email: </strong><input type="text" name="email" id="email" /><br /><br />
        <input type="submit" value="Submit Request" />
    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
