<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Removed</title>
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
    <h1>Removal of All Users</h1>
    <img id="img" src="/images/sadstonk.jpg" alt="Not Found" class="image"/><br />
    All users have been removed from the database. Number of users removed: <%- count %><br />
    <br />
    <br />
    <a href="/">HOME</a>
</body>

</html>