<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>User Info</title>
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
    <h1>Thanks for Signing Up!</h1>
    <img id="img" src="/images/happystonk.jpg" alt="Not Found" class="image" /><br />
    <h2>User Information </h2>
    <strong>Name: </strong> <%- name %> <br />
    <strong>Email Address: </strong><%- email %> <br />
    <strong>Stock: </strong><%- stock %> <br />
    <br />
    Return <a href="/">HOME</a> to Search.
</body>

</html>
